.header__link {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-self: flex-end;
  margin: 0 0 33px;
  text-decoration: none;
  transition: opacity .1s linear;
}

@media (min-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 46px;
  }
}

.header__link:hover {
  cursor: pointer;
  opacity: .6;
}

