.element__delete {
  padding: 0;
  border: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/delete.svg);
  height: 19px;
  width: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity .1s linear;
}

.element__delete:hover {
  opacity: .6;
  cursor: pointer;
}
